/* -------------------------------------------------------------------------- */
/*                            PRIMARY COLOR SHADES                            */
/* -------------------------------------------------------------------------- */
$color__primary: #1aac7a;
$color__primary--50: #f4fbf8;
$color__primary--100: #e8f7f2;
$color__primary--200: #c6eade;
$color__primary--300: #a3deca;
$color__primary--400: #5fc5a2;
$color__primary--500: #1aac7a;
$color__primary--600: #179b6e;
$color__primary--700: #14815c;
$color__primary--800: #106749;
$color__primary--900: #0d543c;

/* -------------------------------------------------------------------------- */
/*                            MONOCHROMATIC COLORS                            */
/* -------------------------------------------------------------------------- */

$color__black: #1a1a1a;
$color__white: #fafafa;
$color__black--solid: #000000;
$color__white--solid: #ffffff;

/* -------------------------------------------------------------------------- */
/*                              GRAY COLOR SHADES                             */
/* -------------------------------------------------------------------------- */

$color__gray--50: #fafafa;
$color__gray--100: #e1e1e1;
$color__gray--200: #c8c8c8;
$color__gray--300: #afafaf;
$color__gray--400: #969696;
$color__gray--500: #7d7d7d;
$color__gray--600: #646464;
$color__gray--700: #4b4b4b;
$color__gray--800: #333333;
$color__gray--900: #1a1a1a;
